* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
span {
  color: red;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
}

.nav {
  padding: 10px 135px;
  display: flex;
  justify-content: center;
}
.brand-logo {
  height: 60px;
}

.nav-items {
  display: flex;
  align-items: center;
}
.nav-logo {
  margin-right: 40px;
}

.search {
  width: 450px;
  display: flex;
}

.search-box {
  width: 60%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: none;
  color: #a9a9a9;
  outline: none;
}
.search-btn {
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.search-btn:hover {
  background-color: red;
  color: #383838;
}

.search-box::placeholder {
  color: #a9a9a9;
}

/* .nav-items a {
  margin-left: 20px;
} */

.nav-items a img {
  width: 30px;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #383838;
}

.links-container {
  width: 100%;
  display: flex;
  padding: 10px 135px;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d1d1d1;
}

.links {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #383838;
  opacity: 0.5;
  transition: 0.5s;
}
.links:hover {
  opacity: 1;
}

.hero-section {
  width: 100%;
  /* height: calc(100vh - 120px); */
  height: 90vh;
  max-height: 450px;
  background-image: url(../img/tesla\ car\ 2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-logo h2 {
  color: white;
  /* height: 150px; */
  font-size: 40px;
  text-align: center;
  display: block;
  margin: auto;
}
.hero-section .sub-heading {
  margin-top: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 300;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product-thumb {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.discount-tag.tags {
  background: #ff7d7d;
  color: #fff;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #efefef;
}
.card-btn.btns {
  background-color: #ff7d7d;
}
.card-btn.btns:hover {
  background: #383838;
  color: #fff;
}
.product-info {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}
.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.next-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}
.next-btn {
  right: 0;
}

.pre-btn img,
.next-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.next-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

footer {
  background: #f5f5f5;
  height: 100px;
  width: 100%;
  margin-top: 21px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer .footer-logo {
  padding: 30px;
  font-size: 18px;
}
.footer .bottom-nav {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}
.bottom-nav .link-items {
  list-style: none;
}
.social-media {
  margin: auto 0;
  margin-right: 30px;
  cursor: pointer;
}
.social-media img {
  height: 30px;
  width: 30px;
}

@media (max-width: 770px) {
  .nav-logo {
    margin-right: 280px;
    font-size: 25px;
  }
  .search {
    display: none;
  }
  nav {
    position: fixed;
  }
  ul.links-container {
    position: fixed;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .link-items {
    margin: 16px 0;
  }
  .links-container.active {
    left: 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-items a img {
    width: 30px;
  }
  footer {
    height: 100%;
  }

  .footer {
    display: flex;
  }
  .footer .bottom-nav {
    display: none;
  }
  .footer .footer-logo {
    font-size: 20px;
  }
}

@media (max-width: 735px) {
  .nav-logo {
    margin-right: 120px;
    font-size: 25px;
  }
  .nav {
    padding: 10px 99px;
  }
  .cart a {
    margin: 10px;
  }
}
@media (max-width: 550px) {
  .nav-logo {
    font-size: 16px;
  }
  .collection p {
    font-size: 30px;
  }
  .collection {
    display: flex;
  }
}
